.banCo{
    background-image: url("https://images.chesscomfiles.com/chess-themes/boards/green/150.png");
    background-size: 720px;
    width: 720px;
    height: 720px;
    position: relative;

}
.chess{
    position: absolute;
}
.piece {
    background-size: 100%;
    cursor: pointer;
    cursor: grab;
    cursor: -webkit-grab;
    width: 90px;
    height: 90px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    touch-action: none;
    will-change: transform;
}
.wr {
    background-image: url(https://images.chesscomfiles.com/chess-themes/pieces/neo/150/wr.png);
}
.wn {
    background-image: url(https://images.chesscomfiles.com/chess-themes/pieces/neo/150/wn.png);
}
.wb {
    background-image: url(https://images.chesscomfiles.com/chess-themes/pieces/neo/150/wb.png);
}
.wq {
    background-image: url(https://images.chesscomfiles.com/chess-themes/pieces/neo/150/wq.png);
}
.wk {
    background-image: url(https://images.chesscomfiles.com/chess-themes/pieces/neo/150/wk.png);
}
.wp {
    background-image: url(https://images.chesscomfiles.com/chess-themes/pieces/neo/150/wp.png);
}
.bp {
    background-image: url(https://images.chesscomfiles.com/chess-themes/pieces/neo/150/bp.png);
}
.br {
    background-image: url(https://images.chesscomfiles.com/chess-themes/pieces/neo/150/br.png);
}
.bn {
    background-image: url(https://images.chesscomfiles.com/chess-themes/pieces/neo/150/bn.png);
}
.bb {
    background-image: url(https://images.chesscomfiles.com/chess-themes/pieces/neo/150/bb.png);
}
.bq {
    background-image: url(https://images.chesscomfiles.com/chess-themes/pieces/neo/150/bq.png);
}
.bk {
    background-image: url(https://images.chesscomfiles.com/chess-themes/pieces/neo/150/bk.png);
}
.square-11 {
    transform: translateY(700%);
    transition: all 1s;
}
.square-21 {
    transform: translate(100%,700%);
    transition: all 1s;
}
.square-31 {
    transform: translate(200%,700%);
    transition: all 1s;
}
.square-41 {
    transform: translate(300%,700%);
    transition: all 1s;
}
.square-51 {
    transform: translate(400%,700%);
    transition: all 1s;
}
.square-61 {
    transform: translate(500%,700%);
    transition: all 1s;
}
.square-71 {
    transform: translate(600%,700%);
    transition: all 1s;
}
.square-81 {
    transform: translate(700%,700%);
    transition: all 1s;
}
.square-12 {
    transform: translateY(600%);
    transition: all 1s;
}
.square-22 {
    transform: translate(100%,600%);
    transition: all 1s;
}
.square-32 {
    transform: translate(200%,600%);
    transition: all 1s;
}
.square-42 {
    transform: translate(300%,600%);
    transition: all 1s;
}
.square-52 {
    transform: translate(400%,600%);
    transition: all 1s;
}
.square-62 {
    transform: translate(500%,600%);
    transition: all 1s;
}
.square-72 {
    transform: translate(600%,600%);
    transition: all 1s;
}
.square-82 {
    transform: translate(700%,600%);
    transition: all 1s;
}
.square-13 {
    transform: translateY(500%);
    transition: all 1s;
}
.square-23 {
    transform: translate(100%,500%);
    transition: all 1s;
}
.square-33 {
    transform: translate(200%,500%);
    transition: all 1s;
}
.square-43 {
    transform: translate(300%,500%);
    transition: all 1s;
}
.square-53 {
    transform: translate(400%,500%);
    transition: all 1s;
}
.square-63 {
    transform: translate(500%,500%);
    transition: all 1s;
}
.square-73 {
    transform: translate(600%,500%);
    transition: all 1s;
}
.square-83 {
    transform: translate(700%,500%);
    transition: all 1s;
}
.square-14 {
    transform: translateY(400%);
    transition: all 1s;
}
.square-24 {
    transform: translate(100%,400%);
    transition: all 1s;
}
.square-34 {
    transform: translate(200%,400%);
    transition: all 1s;
}
.square-44 {
    transform: translate(300%,400%);
    transition: all 1s;
}
.square-54 {
    transform: translate(400%,400%);
    transition: all 1s;
}
.square-64 {
    transform: translate(500%,400%);
    transition: all 1s;
}
.square-74 {
    transform: translate(600%,400%);
    transition: all 1s;
}
.square-84 {
    transform: translate(700%,400%);
    transition: all 1s;
}
.square-15 {
    transform: translateY(300%);
    transition: all 1s;
}
.square-25 {
    transform: translate(100%,300%);
    transition: all 1s;
}
.square-35 {
    transform: translate(200%,300%);
    transition: all 1s;
}
.square-45 {
    transform: translate(300%,300%);
    transition: all 1s;
}
.square-55 {
    transform: translate(400%,300%);
    transition: all 1s;
}
.square-65 {
    transform: translate(500%,300%);
    transition: all 1s;
}
.square-75 {
    transform: translate(600%,300%);
    transition: all 1s;
}
.square-85 {
    transform: translate(700%,300%);
    transition: all 1s;
}
.square-16 {
    transform: translateY(200%);
    transition: all 1s;
}
.square-26 {
    transform: translate(100%,200%);
    transition: all 1s;
}
.square-36 {
    transform: translate(200%,200%);
    transition: all 1s;
}
.square-46 {
    transform: translate(300%,200%);
    transition: all 1s;
}
.square-56 {
    transform: translate(400%,200%);
    transition: all 1s;
}
.square-66 {
    transform: translate(500%,200%);
    transition: all 1s;
}
.square-76 {
    transform: translate(600%,200%);
    transition: all 1s;
}
.square-86 {
    transform: translate(700%,200%);
    transition: all 1s;
}
.square-17 {
    transform: translateY(100%);
    transition: all 1s;
}
.square-27 {
    transform: translate(100%,100%);
    transition: all 1s;
}
.square-37 {
    transform: translate(200%,100%);
    transition: all 1s;
}
.square-47 {
    transform: translate(300%,100%);
    transition: all 1s;
}
.square-57 {
    transform: translate(400%,100%);
    transition: all 1s;
}
.square-67 {
    transform: translate(500%,100%);
    transition: all 1s;
}
.square-77 {
    transform: translate(600%,100%);
    transition: all 1s;
}
.square-87 {
    transform: translate(700%,100%);
    transition: all 1s;
}
.square-18 {
    transform: translateY(0%);
    transition: all 1s;
}
.square-28 {
    transform: translate(100%,0%);
    transition: all 1s;
}
.square-38 {
    transform: translate(200%,0%);
    transition: all 1s;
}
.square-48 {
    transform: translate(300%,0%);
    transition: all 1s;
}
.square-58 {
    transform: translate(400%,0%);
    transition: all 1s;
}
.square-68 {
    transform: translate(500%,0%);
    transition: all 1s;
}
.square-78 {
    transform: translate(600%,0%);
    transition: all 1s;
}
.square-88 {
    transform: translate(700%,0%);
    transition: all 1s;
}
.hover {
    background: none;
    border: 3px solid hsla(0,0%,100%,.65);
    box-sizing: border-box;
}
.hover11 {
    background: none;
    border: 3px solid hsla(0,0%,100%,.65);
    box-sizing: border-box;
}
.hover9 {
    background: none;
    border: 3px solid hsla(0,0%,100%,.65);
    box-sizing: border-box;
}
.hover1 {
    background: none;
    border: 3px solid hsla(0,0%,100%,.65);
    box-sizing: border-box;
}
.hover-1 {
    background: none;
    border: 3px solid hsla(0,0%,100%,.65);
    box-sizing: border-box;
}
.hover10 {
    background: none;
    border: 3px solid hsla(0,0%,100%,.65);
    box-sizing: border-box;
}
.hover-10 {
    background: none;
    border: 3px solid hsla(0,0%,100%,.65);
    box-sizing: border-box;
}
.hover-9 {
    background: none;
    border: 3px solid hsla(0,0%,100%,.65);
    box-sizing: border-box;
}
.hover-11 {
    background: none;
    border: 3px solid hsla(0,0%,100%,.65);
    box-sizing: border-box;
}
.color {
    background-color: #ffff00;
}

